@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body, main {
    width: 100vw;
    height: 100vh;
}

html, body {
  overflow: auto;
  scrollbar-width: none; 
}
html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}

header {
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-family: "cinzel";
    font-size: 1.5em;
}
#sinopse {
    max-width: 600px;
    text-align: center;
    margin: 10px auto;
}

#sinopse h2 {
    font-family: "cinzel";
    font-size: 1.3em;
}

img {
    display: block;
    max-width: 150px;
    margin: auto;
    margin-bottom: -20px;
}

p {
    font-weight: normal;
    font-size: 1em;
    font-family: 'lora';
}

main {
    background-color: rgb(177, 224, 177);
}

#maojin {
    background-color: rgb(177, 224, 177);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.perso {
    flex: 1 1 45%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}
#maomao {
    background-color: lightyellow;

}
#jinshi {
    background-color: lightyellow;
}

#motivos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    max-width: 70vw;
    margin: auto;
    margin-top: 20px;
}

article {
    flex: 0 0 calc(50% - 20px); /* duas colunas */
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    
}

.mot:hover {
    transform: scale(1.05);
}

.m {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 20px;
    
}

label {
      display: block;
      padding: 15px 20px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      background: linear-gradient(to top, rgb(73, 153, 73), white, white);
      
}
label:hover {
      background: linear-gradient(to bottom, rgb(73, 153, 73), white, white);
      
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label + .m {
      max-height: 500px;
      padding: 15px 20px;
}
