@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body, main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: lightblue;
    text-align: center;
    font-family: 'lora';
    padding: 10px;
}

main {
    background-color: rgb(177, 224, 177);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

main section {
    flex: 1 1 45%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

#sinopse {
    background-color: rgb(156, 156, 247);
    max-width: 600px;
    text-align: center;
    margin: 10px auto;
}

#maomao {
    background-color: lightyellow;

}

#jinshi {
    background-color: lightyellow;
}